@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

.main-header {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("Images/isopodd.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

html, body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: #777;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.section-header {
    font-family: 'Tiro Bangla', serif;
    font-weight: bold;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 3px solid rgba(255, 255, 255, .3);
}

.main-nav li  {
    padding: 0 5%;
}

.nav a:hover  {
    background-color: rgba(255, 255, 255, .3);
}

.nav a  {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav ul  {
    margin: 0;
}

.nav li {
    display: inline;
}

.company-name {
    text-align: center;
    margin: 0;
    font-size: large;
    color: white;
    font-size: 4em;
}

.company-name-large {
    font-size: 5em;
    padding-top: 25px;
}

.btn-primary {
    color: white;
    background-color: aqua;
    border: none;
    border-radius: .5em;
    height: 4em;
    width: 4em;
    font-weight: bolder;
    font-size: xx-large;
}

.btn-primary:hover {
    background-color: #2D9CDB;
    cursor: pointer;
}